#bg_header {
    background-color: #ffffff!important;
}

#content-tolobar {
    --background: #ffffff!important;
    --border-style: none;
}

/*
#content-logo {
}
*/

.logo {
    width: 60%;
}

#content-title {
    padding-top: 20px;
}

.title-header {
    color: #ff4961;
    font-size: 1.4em;
    font-family: Black!important; 
}