<ion-header>
  <custom-header class="btn_back">
    <ion-buttons class="btn_back" slot="start">
      <ion-back-button></ion-back-button>
     </ion-buttons>
    <app-header [pageTitle]="pageTitle"></app-header> 
  </custom-header>
</ion-header>

<ion-content class="background_list">

    <!-- Nueva Formna -->
    <ion-list id="content-list">
      <ion-item *ngFor="let pokemon of pokemons" (click)='goToDetallePokemon(pokemon)'>
        <!--Imagen  -->
        <ion-avatar>
          <img [src]="pokemon.sprites.front_default" alt="Pokemon" />
        </ion-avatar>

        <!-- Contenido -->
        <ion-label>
          <h2>{{ pokemon.name }}</h2>
          <h3>Tipo: {{ pokemon.types[0].type.name }}</h3>
        </ion-label>
      </ion-item>
    </ion-list> 
</ion-content>
